<h1>
Bienvenido Juego Batalla Naval
</h1>

<form method="POST" action="/Disparo">
	<p>Ingrese posicion:<input type="text" name="posicion">    
	<p><input type="submit" value="Juegue">
    <a href="/">Reinicio del Juego</a>.
</form>

<p>
<%= @disparo %>






