<h1>
Bienvenido Juego Batalla Naval
</h1>

<form method="POST" action="/Disparo">
	<p>Ingrese posicion:<input type="text" name="posicion">    
	<p><input type="submit" value="Juegue">
    <p><a href="/"> <input type="button" value="Reinicio"/></a>
</form>

<h1>
<%= @disparo %>
</h1>
<h1>
<%= @tablero %>
</h1>

